[Unit]
Description=My Go Application
After=network.target

[Service]
ExecStart=/home/goAlibaba/mygoapp
WorkingDirectory=/home/goAlibaba
Restart=always
User=nobody

[Install]
WantedBy=multi-user.target
